XMLSubmissionSchema/Schema/Schema/schemaGazetteTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.tso.co.uk/assets/namespace/gazette" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tso.co.uk/assets/namespace/gazette" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3" id="SchemaGazetteTypes">
	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Gazette Schema Types</dc:title>
			<dc:description>A set of Gazette specific schema types</dc:description>
			<dc:contributor>Paul Appleby</dc:contributor>
			<dc:creator>TSO</dc:creator>
			<dc:identifier>SchemaGazetteTypes</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>The Stationery Office</dc:publisher>
			<dc:rights>Copyright The Stationery Office 2007</dc:rights>
			<dc:date>
				<dcq:created>2004-11-02</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2007-08-29</dcq:modified>
			</dc:date>
			<xsd:documentation>
			Modification information
			Version		Name				Modification
			1.4			Griff Chamberlain	Added OrganisationName, Day, thing, Value, Duration, documentMainType and DocumentSubType to InLineBasic
			1.3			Paul Appleby		Added Telephone to InlineBasic
			1.2			Paul Appleby		Added Type attribute to EmphasisBasicStructure to allow more flexibility with autogenerated text
			1.1			Paul Appleby		Removed span from EmphasisBasic to solve a problem highlighted in XML Spy 2005
			1.0			Paul Appleby		Created
			</xsd:documentation>
		</xsd:appinfo>
	</xsd:annotation>
	<!--
	========== Complex types and content models ==========
	-->
	<xsd:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="schemaGazetteTable-XHTML.xsd"/>
	
	<xsd:complexType name="InlineFullStructure" mixed="true">
		<xsd:annotation>
			<xsd:documentation>A type that defines the complete content model for a standard paragraph level element, e.g. a para element</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="InlineFull" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
	</xsd:complexType>
	
	<xsd:complexType name="InlineStructure" mixed="true">
		<xsd:annotation>
			<xsd:documentation>A type that defines the complete content model for a standard paragraph level element, e.g. a para element, but without the formatting attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="InlineFull" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
	</xsd:complexType>
	
	<xsd:group name="InlineFull">
		<xsd:choice>
			<xsd:group ref="EmphasisBasic"/>
			<xsd:group ref="InlineBasic"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="TableTextLocal">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for text to a table</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="Para"/>
			<xsd:element ref="P1"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="TableHeaderCellLocal">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for a table header cell</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:group ref="EmphasisBasic"/>
			<xsd:group ref="InlineBasic"/>
			<xsd:group ref="ParaBasic"/>
			<xsd:element ref="P"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="TableCellLocal">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for a table cell</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:group ref="EmphasisBasic"/>
			<xsd:group ref="InlineBasic"/>
			<xsd:group ref="ParaBasic"/>
			<xsd:element ref="P"/>
			<xsd:element ref="P1"/>
			<xsd:element ref="P2"/>
			<xsd:element ref="P3"/>
			<xsd:element ref="P1group"/>
			<xsd:element ref="P2group"/>
			<xsd:element ref="P3group"/>
			<xsd:element ref="xhtml:table"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="TableFootnoteCellLocal">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for a table cell</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:group ref="EmphasisBasic"/>
			<xsd:group ref="InlineBasic"/>
			<xsd:group ref="ParaBasic"/>
			<xsd:element ref="Footnote"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="InlineBasic">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for basic inline elements</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AddressLineGroup"/>
			<xsd:element ref="Span"/>			
			<xsd:element ref="Character"/>
			<xsd:element ref="FootnoteRef"/>
			<xsd:element ref="InternalLink"/>
			<xsd:element ref="ExternalLink"/>
			<xsd:element ref="OfficeHolderNumber"/>
			<xsd:element ref="Date"/>
			<xsd:element ref="Image"/>
			<xsd:element ref="FirmName"/>
			<xsd:element ref="Legislation"/>
			<xsd:element ref="LegislationSection"/>			
			<xsd:element ref="Time"/>
			<xsd:element ref="Day"/>
			<xsd:element ref="Thing"/>
			<xsd:element ref="Value"/>
			<xsd:element ref="Duration"/>
			<xsd:element ref="PersonName"/>
			<xsd:element ref="CompanyName"/>
			<xsd:element ref="OrganisationName"/>
			<xsd:element ref="Appointer"/>			
			<xsd:element ref="Telephone"/>
			<xsd:element ref="Email"/>
			<xsd:element ref="LegislationType"/>
			<xsd:element ref="LegislationSubType"/>
			<xsd:element ref="OfficeHolderCapacity"/>
      <xsd:element ref="Occasion"/>
      <xsd:element ref="AwardType"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="InlineLegislationCitation">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for basic inline elements for legislation documents</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:group ref="EmphasisBasic"/>
			<xsd:element ref="Character"/>
		</xsd:choice>
	</xsd:group>	
	
	<xsd:complexType name="EmphasisBasicStructure" mixed="true">
		<xsd:annotation>
			<xsd:documentation>A type that defines the content model for basic emphasis</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="EmphasisBasic"/>
			<xsd:element ref="Span"/>
			<xsd:element ref="Character"/>
		</xsd:choice>
		<xsd:attributeGroup ref="Type"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
	</xsd:complexType>
	
	<xsd:group name="EmphasisBasic">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for basic emphasis</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="Strong"/>
			<xsd:element ref="Emphasis"/>
			<xsd:element ref="Inferior"/>
			<xsd:element ref="Superior"/>
			<xsd:element ref="SmallCaps"/>
			<xsd:element ref="Underline"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:complexType name="BlockSectionStructure">
		<xsd:annotation>
			<xsd:documentation>A type that defines standard paragraph level block elements with sections</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="BlockSection" maxOccurs="unbounded"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
	</xsd:complexType>
	
	<xsd:group name="BlockSection">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for standard paragraph level block elements within sections, e.g. s1para</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="OrderedList"/>
			<xsd:element ref="UnorderedList"/>
			<xsd:element ref="Tabular"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:complexType name="BlockBasicStructure">
		<xsd:annotation>
			<xsd:documentation>A type that defines standard paragraph level block elements</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="BlockBasic" maxOccurs="unbounded"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
	</xsd:complexType>
	
	<xsd:group name="BlockBasic">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for standard block elements, e.g. chapter</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="P"/>
			<xsd:element ref="OrderedList"/>
			<xsd:element ref="UnorderedList"/>
			<xsd:element ref="Tabular"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:complexType name="ParaBasicStructure">
		<xsd:annotation>
			<xsd:documentation>A type that defines a standard paragraph level block element for non-provision parts of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="ParaBasic" maxOccurs="unbounded"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
		<xsd:attributeGroup ref="CommonFormattingAttributes"/>
	</xsd:complexType>
	
	<xsd:group name="ParaBasic">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for standard non-provision block elements, e.g. footnoteText</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="Para"/>
			<xsd:element ref="OrderedList"/>
			<xsd:element ref="UnorderedList"/>
			<xsd:element ref="Tabular"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:complexType name="InlineModelStructure">
		<xsd:annotation>
			<xsd:documentation>A type that defines the content model for a standard paragraph level block element, e.g. a para element</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="InlineModel" maxOccurs="unbounded"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
		<xsd:attributeGroup ref="CommonFormattingAttributes"/>
	</xsd:complexType>
	
	<xsd:group name="InlineModel">
		<xsd:annotation>
			<xsd:documentation>Defines the content model for the contents of a standard paragraph level block element, e.g. para element</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="Text"/>
			<!--<xsd:element ref="Resolution"/>-->
			<xsd:element ref="OrderedList"/>
			<xsd:element ref="UnorderedList"/>
			<xsd:element ref="Tabular"/>
      <xsd:element ref="AwardDivision"/>
      <xsd:element ref="AwardType"/>
      <xsd:element ref="AwardName"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:attributeGroup name="TabularAttributes"/>

</xsd:schema>
