XMLSubmissionSchema/Schema/Schema/schemaGazetteTable-XHTML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:lga="http://www.tso.co.uk/assets/namespace/gazette" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2" id="SchemaGazetteTable" xmlns:fo="http://www.w3.org/1999/XSL/Format">
	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Table Schema</dc:title>
			<dc:description>Describes tabular material</dc:description>
			<dc:contributor>Paul Appleby</dc:contributor>
			<dc:creator>TSO</dc:creator>
			<dc:identifier>SchemaTable</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>The Stationery Office</dc:publisher>
			<dc:rights>Copyright The Stationery Office 2007</dc:rights>
			<dc:date>
				<dcq:created>2005-01-20</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2007-04-29</dcq:modified>
			</dc:date>
			<xsd:documentation>
			Modification information
			Version	Name					Modification
			1.2			Paul Appleby		Changed order of patterns in TableSimpleLengthType to get around an XMetal bug
			1.1			Paul Appleby		Changed order of patterns in TableWidthType to get around an XMetal bug
			1.0			Paul Appleby		Created
			</xsd:documentation>
		</xsd:appinfo>
	</xsd:annotation>
	
	<!-- Derived standard types -->
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../schemaModules/namespace.xsd"/>
	<xsd:import namespace="http://www.w3.org/1999/XSL/Format" schemaLocation="schemaGazetteTableAttributes-FO.xsd"/>
	<xsd:import namespace="http://www.tso.co.uk/assets/namespace/gazette" schemaLocation="schemaGazette-v1-0.xsd"/>
	
	<xsd:element name="table">
		<xsd:annotation>
			<xsd:documentation>This is the top level of a modified version of XHTML tables</xsd:documentation>
			<xsd:documentation>Note: A restriction from the HTML table model is that tbody is obligatory</xsd:documentation>
			<xsd:documentation>Note: HTML cellpadding and cellspacing attributes are not implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="caption" minOccurs="0"/>
				<xsd:choice minOccurs="0">
					<xsd:element ref="colgroup" maxOccurs="unbounded"/>
					<xsd:element ref="col" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="thead" minOccurs="0"/>
				<xsd:element ref="tfoot" minOccurs="0"/>
				<xsd:element ref="tbody"/>
			</xsd:sequence>
			<xsd:attribute name="cols" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Defines the number of columns in the table. Mainly to ease formatting for applications</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="summary" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Table summary for accessibility. Conforms with HTML table model</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="width" type="TableWidthType"/>
			<xsd:attributeGroup ref="TableXMLattributes"/>
			<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderLeftAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderTopAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderAttributes"/>
			<xsd:attributeGroup ref="fo:TableIndentAttributes"/>
			<xsd:attributeGroup ref="TableID"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="colgroup">
		<xsd:annotation>
			<xsd:documentation>Allows for columns groups that are logically or structurally related to be defined</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="col" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="char">
				<xsd:annotation>
					<xsd:documentation>Defines the character for alignment, e.g. a period</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="span" type="xsd:positiveInteger" default="1">
				<xsd:annotation>
					<xsd:documentation>Defines the number of columns spanned</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="width" type="TableWidthType"/>
			<xsd:attributeGroup ref="TableAlignmentAttributes"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="col">
		<xsd:annotation>
			<xsd:documentation>Allows for column details to be defined</xsd:documentation>
			<xsd:documentation>Note: HTML charoff attribute is not implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="char">
				<xsd:annotation>
					<xsd:documentation>Defines the character for alignment, e.g. a period</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="span" type="xsd:positiveInteger" default="1">
				<xsd:annotation>
					<xsd:documentation>Defines the number of columns spanned</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="width" type="TableWidthType"/>
			<xsd:attributeGroup ref="TableAlignmentAttributes"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="caption">
		<xsd:annotation>
			<xsd:documentation>The table caption. From HTML table model</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:group ref="lga:InlineFull" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:attribute name="align" default="top">
				<xsd:annotation>
					<xsd:documentation>Defines the position of the caption relative to the table</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="left"/>
						<xsd:enumeration value="right"/>
						<xsd:enumeration value="top"/>
						<xsd:enumeration value="bottom"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="TableID"/>
			<xsd:attributeGroup ref="lga:CommonSubAttributes"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="thead">
		<xsd:annotation>
			<xsd:documentation>A table header</xsd:documentation>
			<xsd:documentation>Note: HTML char and charoff attributes are note implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tr" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="height" type="TableSimpleLengthType"/>
			<xsd:attributeGroup ref="TableAlignmentAttributes"/>
			<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
			<xsd:attributeGroup ref="TableID"/>
			<xsd:attributeGroup ref="TableXMLattributes"/>
			<xsd:attributeGroup ref="fo:TableBorderLeftAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderTopAttributes"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="tbody">
		<xsd:annotation>
			<xsd:documentation>The table body</xsd:documentation>
			<xsd:documentation>Note: HTML char and charoff attributes are note implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tr" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attributeGroup ref="TableAlignmentAttributes"/>
			<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
			<xsd:attributeGroup ref="TableID"/>
			<xsd:attributeGroup ref="TableXMLattributes"/>
			<xsd:attributeGroup ref="fo:TableBorderLeftAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderTopAttributes"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="tfoot">
		<xsd:annotation>
			<xsd:documentation>Table footer</xsd:documentation>
			<xsd:documentation>Note: HTML char and charoff attributes are note implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="tr" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>A table row in tfoot. This has been locally declared to allow footnotes</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice maxOccurs="unbounded">
							<xsd:element name="td">
								<xsd:complexType mixed="true">
									<xsd:choice minOccurs="0" maxOccurs="unbounded">
										<xsd:group ref="lga:TableFootnoteCell"/>
									</xsd:choice>
									<xsd:attributeGroup ref="TableCellAttributes"/>
									<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
									<xsd:attributeGroup ref="TableID"/>
									<xsd:attributeGroup ref="TableXMLattributes"/>
									<xsd:attributeGroup ref="fo:TableBorderAttributes"/>
									<xsd:attributeGroup ref="fo:TableCellPaddingAttributes"/>										
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:attributeGroup ref="TableID"/>
						<xsd:attributeGroup ref="TableXMLattributes"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:attributeGroup ref="TableAlignmentAttributes"/>
			<xsd:attributeGroup ref="TableID"/>
			<xsd:attributeGroup ref="TableXMLattributes"/>
			<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderLeftAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderTopAttributes"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="tr">
		<xsd:annotation>
			<xsd:documentation>A table row</xsd:documentation>
			<xsd:documentation>Note: HTML char and charoff attributes are note implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="td"/>
				<xsd:element ref="th"/>
			</xsd:choice>
			<xsd:attribute name="height" type="TableSimpleLengthType"/>
			<xsd:attributeGroup ref="TableID"/>
			<xsd:attributeGroup ref="TableXMLattributes"/>
			<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="th">
		<xsd:annotation>
			<xsd:documentation>A table heading cell</xsd:documentation>
			<xsd:documentation>Note: HTML axis attribute is not implemented</xsd:documentation>
			<xsd:documentation>Note: HTML char, charoff and nowrap attributes are note implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:group ref="lga:TableHeaderCell" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:attribute name="abbr" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Used for accessibility. Further explains the meaning of the cell</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="scope">
				<xsd:annotation>
					<xsd:documentation>Used for accessibility. Defines the cells to which a header cell applies. From XHTML 1.0 specification</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="row"/>
						<xsd:enumeration value="col"/>
						<xsd:enumeration value="rowgroup"/>
						<xsd:enumeration value="colgroup"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="TableCellAttributes"/>
			<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
			<xsd:attributeGroup ref="TableID"/>
			<xsd:attributeGroup ref="TableXMLattributes"/>
			<xsd:attributeGroup ref="fo:TableBorderLeftAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderTopAttributes"/>
			<xsd:attributeGroup ref="fo:TableCellPaddingAttributes"/>				
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="td">
		<xsd:annotation>
			<xsd:documentation>A table cell</xsd:documentation>
			<xsd:documentation>Note: HTML char, charoff and nowrap attributes are note implemented</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:group ref="lga:TableCell" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:attribute name="headers" type="xsd:IDREFS">
				<xsd:annotation>
					<xsd:documentation>Used for accessibility to cross-reference to a header cell(s). From HTML specification</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attributeGroup ref="TableCellAttributes"/>
			<xsd:attributeGroup ref="fo:TableBackgroundColorAttributes"/>
			<xsd:attributeGroup ref="TableID"/>
			<xsd:attributeGroup ref="TableXMLattributes"/>
			<xsd:attributeGroup ref="fo:TableBorderLeftAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderAttributes"/>
			<xsd:attributeGroup ref="fo:TableBorderTopAttributes"/>
			<xsd:attributeGroup ref="fo:TableCellPaddingAttributes"/>	
		</xsd:complexType>
	</xsd:element>
	<!--
			Attribute group definitions
	-->
	<xsd:attributeGroup name="TableCellAttributes">
		<xsd:attribute name="colspan" type="xsd:positiveInteger" default="1">
			<xsd:annotation>
				<xsd:documentation>Defines the number of columns spanned</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="rowspan" type="xsd:positiveInteger" default="1">
			<xsd:annotation>
				<xsd:documentation>Defines the number of rows spanned</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="height" type="TableSimpleLengthType"/>
		<xsd:attribute name="width" type="TableSimpleLengthType"/>
		<xsd:attributeGroup ref="fo:BlockOrientation"/>
		<xsd:attributeGroup ref="TableAlignmentAttributes"/>
	</xsd:attributeGroup>
	
	<xsd:attributeGroup name="TableAlignmentAttributes">
		<xsd:attribute name="valign">
			<xsd:annotation>
				<xsd:documentation>Defines vertical alignment</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="top"/>
					<xsd:enumeration value="middle"/>
					<xsd:enumeration value="bottom"/>
					<xsd:enumeration value="baseline"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="align" default="inherit">
			<xsd:annotation>
				<xsd:documentation>Describes horizontal alignment</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="inherit"/>
					<xsd:enumeration value="left"/>
					<xsd:enumeration value="center"/>
					<xsd:enumeration value="right"/>
					<xsd:enumeration value="justify"/>
					<xsd:enumeration value="char"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
    <xsd:attribute name="nowrap">
      <xsd:annotation>
        <xsd:documentation>Describes text-wrapping property</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="none"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
	</xsd:attributeGroup>
	<!--
			Table type definitions
	-->
	<xsd:simpleType name="TableBorderStyleType">
		<xsd:annotation>
			<xsd:documentation>Defines a border style type</xsd:documentation>
			<xsd:documentation>Values taken from the CSS2 specification http://www.w3.org/TR/REC-CSS2/box.html#value-def-border-style</xsd:documentation>
			<xsd:documentation>Note: the value 'none' has not been used</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="inherit"/>
			<xsd:enumeration value="solid"/>
			<xsd:enumeration value="dashed"/>
			<xsd:enumeration value="dotted"/>
			<xsd:enumeration value="double"/>
			<xsd:enumeration value="groove"/>
			<xsd:enumeration value="inset"/>
			<xsd:enumeration value="outset"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TableSimpleLengthType">
		<xsd:annotation>
			<xsd:documentation>Defines a length in either pixels, points or ems; alternatively the value can be inherited</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="inherit"/>
			<xsd:pattern value="\d{1,}px"/>
			<xsd:pattern value="\d{1,}\.?\d{0,3}em"/>
			<xsd:pattern value="\d{1,}\.?\d{0,3}pt"/>			
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TableWidthType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="inherit"/>
					<xsd:pattern value="\d{1,}px"/>
					<xsd:pattern value="\d{1,}\.?\d{0,3}em"/>
					<xsd:pattern value="\d{1,}\.?\d{0,3}pt"/>					
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{1,3}\.?\d{0,3}%">
						<xsd:annotation>
							<xsd:documentation>Value in percent. Accuracy to three decimal places</xsd:documentation>
						</xsd:annotation>
					</xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	
	<xsd:attributeGroup name="TableID">
		<xsd:attribute name="id">
			<xsd:annotation>
				<xsd:documentation>A unique identifier in the format t00000</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:ID">
					<xsd:pattern value="t[0-9]{5}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="TableXMLattributes">
		<xsd:attribute ref="xml:lang"/>
		<xsd:attribute ref="xml:space"/>
		<xsd:attribute ref="xml:base"/>
	</xsd:attributeGroup>
	
</xsd:schema>
