XMLSubmissionSchema/Schema/Schema/schemaGazetteNoticeContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.tso.co.uk/assets/namespace/gazette" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tso.co.uk/assets/namespace/gazette" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.10" id="SchemaGazetteNoticeContent">
	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Gazette Schema Notice Content Elements</dc:title>
			<dc:description>Describes Gazette Notice content elements</dc:description>
			<dc:contributor>Paul Appleby</dc:contributor>
			<dc:creator>TSO</dc:creator>
			<dc:identifier>SchemaGazetteNoticeContent</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>The Stationery Office</dc:publisher>
			<dc:rights>Copyright The Stationery Office 2007</dc:rights>
			<dc:date>
				<dcq:created>2004-11-02</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2011-02-14</dcq:modified>
			</dc:date>
			<xsd:documentation>
			Modification information
			Version			Name				Modification
			2.10			Chris Cole		Element "PartnershipDetails" created
			2.9				Chris Cole		Element "DateOfDischarge" changed @type from 'EmphasisBasicStructure' to 'DateContentStructure' in order to allow @Date (only diff, optional) as IS now providing data
			2.8				Chris Cole		Element "DateOfCertificateOfDischarge" created
			2.7				Chris Cole		Element "PetitionerDetails" renamed to "Petitioner"
			2.6				Chris Cole		Elements "VolWindingUpResolutionDate", "PetitionerDetails", "PetitionerName" and "PetitionerAddress" created
			2.5				Chris Cole		Allowed 'AdditionalContact' as a potential child of 'Administration'
			2.4				Griff Chamberlain	Make AddressLine Class attribute optional for backward compatibility
			2.4				Griff Chamberlain	AddressLine Class attribute/Telephone Value attribute/Day Value attribute not a list
			2.3				Griff Chamberlain	Added OrganisationName element which will deprecate the inline use of both CompanyName and FirmName
												Added enumeration values to Class attribute on Administrator, Telephone, and AddressLine.
												Added Duration, Day, Thing and Value elements
			2.2				Paul Appleby		Added in BirthDetails. Expanded address structure in CompanyRegisteredOffice, PartnershipAddress as well as AddressLineGroup. Added Telephone
														Added PersonAddress and Occupation. Added TradingDetails. Added BankruptcyRestrictions
			2.1				Paul Appleby		Added AlsoKnowAs to Partnership content model
			2.0				Paul Appleby		Added CompanyRegisteredOffice to CompanyGroup
			1.9				Paul Appleby		Had to loosen Person to allow PersonName to be optional due to the break up of a person's information because of trading names
			1.8				Paul Appleby		Added TradingAs to Partnership content model
			1.7				Paul Appleby		Added DefinedAs to Company structure in order to keep all company information together
			1.6				Paul Appleby		Altered CompanyNumber to allow more than just a positive integer. This is in light of finding company numbers from outside the UK following a different format
														Also added Type attribute to many structures to allow autogenerated text overrides
			1.5				Paul Appleby		Altered court to allow multiple court numbers
			1.4				Paul Appleby		Added span and character elements into EmphasisBasic groups references to solve a problem highlighted in XML Spy 2005
			1.3				Paul Appleby		Changed CompanyRegisteredOffice to be type EmphasisBasicStructure to allow inline formatting
			1.2				Paul Appleby		Allowed CourtNumber to appear by itself
			1.1				Paul Appleby		Altered Date and Time attributes in attribute groups to be optional and allowed Date to be optional in DeathDetails
			1.0				Paul Appleby		Created
			</xsd:documentation>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="Authority" type="InlineFullStructure"/>
	<!-- ========== Court related content ========= -->
	<xsd:element name="Court">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="CourtName"/>
						<xsd:element ref="CourtDistrict" minOccurs="0"/>
						<xsd:choice minOccurs="0">
							<xsd:sequence>
								<xsd:element ref="CourtNumber" maxOccurs="unbounded"/>
								<xsd:element ref="CourtPrevious" minOccurs="0"/>
								<xsd:element ref="PetitionFilingDate" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:element ref="PetitionFilingDate"/>
								<xsd:element ref="CourtNumber" maxOccurs="unbounded"/>
								<xsd:element ref="CourtPrevious" minOccurs="0"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="CourtDistrict"/>
						<xsd:choice>
							<xsd:sequence>
								<xsd:element ref="CourtNumber" maxOccurs="unbounded"/>
								<xsd:element ref="PetitionFilingDate" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:element ref="PetitionFilingDate"/>
								<xsd:element ref="CourtNumber" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="CourtNumber" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:choice>
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element ref="BankruptcyOrderDate"/>
						<xsd:element ref="BankruptcyOrderTime" minOccurs="0"/> <!-- 2010-07-23 CRJC: added -->
						<xsd:element ref="BankruptcyRestrictions" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence> <!-- 2011-02-14 CRJC: Made into a 'sequence', as VWURD would always be preceded by WUOD -->
  					<xsd:element ref="WindingUpOrderDate"/>
  					<xsd:element ref="VolWindingUpResolutionDate" minOccurs="0"/> <!-- 2010-10-19 CRJC: added -->
					</xsd:sequence>
					<xsd:element ref="BankruptcyRestrictions"/>
					<xsd:element ref="IVAdate"/>
					
				</xsd:choice>
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element ref="DateOfAnnulment"/>
						<xsd:element ref="GroundsOfAnnulment"/>
					</xsd:sequence>
					<xsd:sequence><!-- 2011-01-11 CRJC: DoCoD created/added. Made into a 'sequence', as DoCoD would always appear preceded by DoD -->
  					<xsd:element ref="DateOfDischarge"/>
	  				<xsd:element ref="DateOfCertificateOfDischarge" minOccurs="0"/> <!-- have to make this optional for backwards-compatibility -->
					</xsd:sequence>
				</xsd:choice>
				<xsd:element ref="TypeOfPetition" minOccurs="0"/>
				<xsd:element ref="Petitioner" minOccurs="0"/> <!-- 2010-12-15 CRJC: renamed to "Petitioner". 2010-10-19 CRJC: added 'PetitionerDetails' -->
				<xsd:element ref="RelatedCase" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CourtName" type="EmphasisBasicStructure"/>
	<xsd:element name="CourtPrevious">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="CourtName" minOccurs="0"/>
				<xsd:element ref="CourtNumber"/>
				<xsd:element ref="CourtDistrict" minOccurs="0"/>
			</xsd:all>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CourtDistrict" type="EmphasisBasicStructure"/>
	<xsd:element name="CourtNumber">
		<xsd:complexType>
			<xsd:attribute name="Number" type="xsd:string"/>
			<xsd:attribute name="Year" type="xsd:gYear"/>
			<xsd:attribute name="Code" type="xsd:string"/>
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Petitioner"> <!-- 2010-12-15 CRJC: renamed from "PetitionerDetails". 2010-10-19 CRJC: element created -->
		<xsd:complexType>
			<xsd:sequence> 
				<xsd:element ref="PetitionerName"/> <!-- Petitioner is either an Organisation or an individual, but alas the Insolvency Service can't divine this information at the point of Gazette data production, so it is going to have to be lumped into a generic field: 'Petitioner'.  -->
				<xsd:element ref="PetitionerAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PetitionerName"> <!-- 2010-12-06 CRJC: element created, encompassing both Individual people and Organisations, as the datafield at IS can't tell the difference -->
		<xsd:simpleType><xsd:restriction base="xsd:string"/></xsd:simpleType>
	</xsd:element>
	<xsd:element name="PetitionerAddress"> <!-- 2010-12-06 CRJC: element created -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AddressLineGroup"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RelatedCase">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Reference" minOccurs="0"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="CourtName"/>
						<xsd:element ref="CourtNumber" minOccurs="0"/>
						<xsd:element ref="CourtDistrict" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="CourtDistrict"/>
						<xsd:element ref="CourtNumber" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Reference" type="EmphasisBasicStructure"/>
	<!-- ========== Company related content ========= -->
	<xsd:element name="CompanyGroup">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="NatureOfBusiness"/>
				<xsd:element ref="CompanyRegisteredOffice"/>
				<xsd:element ref="TradeClassification"/>
				<xsd:element ref="Legislation"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Company">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="CompanyName"/>
				<xsd:element ref="CompanyOtherNames" minOccurs="0"/>
        <xsd:element ref="CompanyType" minOccurs="0"/>
				<xsd:element ref="CompanyRegisteredCountries" minOccurs="0"/>
				<xsd:element ref="CompanyNumber" minOccurs="0"/>
				<xsd:element ref="CompanyRegisteredOffice" minOccurs="0"/>
				<xsd:element ref="PrincipalTradingAddress" minOccurs="0"/>
				<xsd:element ref="CompanyStatus" minOccurs="0"/>
				<xsd:element ref="NatureOfBusiness" minOccurs="0"/>
				<xsd:element ref="TradeClassification" minOccurs="0"/>
				<xsd:element ref="TypeOfLiquidation" minOccurs="0"/>
				<xsd:element ref="DefinedAs" minOccurs="0"/>
				<xsd:element ref="Legislation" minOccurs="0"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyName">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attribute name="Class" use="required">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Company"/>
								<xsd:enumeration value="Petitioner"/>
								</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyOtherNames">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TradingAs" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CompanyPrevious" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyPrevious">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CompanyName" minOccurs="0"/>
				<xsd:element ref="TradingAs" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

  <xsd:element name="CompanyType"/>
  
	<xsd:element name="CompanyNumber">
		<xsd:annotation>
			<xsd:documentation>A company number. Generally all digits but for non UK companies can be a different pattern</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyRegisteredOffice">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
				<xsd:element ref="AddressLineGroup"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrincipalTradingAddress">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
				<xsd:element ref="AddressLineGroup"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyRegisteredCountries">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CompanyRegisteredCountry" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyRegisteredCountry" type="EmphasisBasicStructure"/>
	<xsd:element name="CompanyStatus" type="EmphasisBasicStructure"/>
	<xsd:element name="TradingDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="TradingAs"/>
					<xsd:element ref="TradingAddress" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref="TradingPrevious" minOccurs="0"/>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TradingAs" type="EmphasisBasicStructure"/>
	<xsd:element name="TradingAddress">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
				<xsd:element ref="AddressLineGroup"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TradingPrevious">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TradingAs"/>
				<xsd:element ref="TradingAddress" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NatureOfBusiness">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TypeOfLiquidation">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TypeOfPetition">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TradeClassification">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attribute name="Class" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<!-- ========== Partnership related content ========= -->
	<xsd:element name="Partnership">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="PartnershipName"/>
				<xsd:element ref="PartnershipAddress"/>
				<xsd:element ref="PartnershipNumber"/>
				<xsd:element ref="PartnershipDetails"/> <!-- 2011-01-27 CRJC: element allowed here -->
				<xsd:element ref="PartnershipPrevious"/>
				<xsd:element ref="AlsoKnownAs"/>
				<xsd:element ref="DefinedAs"/>
				<xsd:element ref="TradingAs"/>
				<xsd:element ref="Legislation"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartnershipPrevious">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartnershipName" minOccurs="0"/>
				<xsd:element ref="TradingAs" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartnershipName" type="EmphasisBasicStructure"/>
	<xsd:element name="PartnershipNumber" type="EmphasisBasicStructure"/>
	<xsd:element name="PartnershipDetails" type="InlineFullStructure"/> <!-- 2011-01-27 CRJC: element created as per IS request. Inference is that it is only for 2504 Notices when it is a Debtor's Petition Partnership -->

	<!-- ========== Society related content ========= -->
	<xsd:element name="Society">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="SocietyName"/>
				<xsd:element ref="SocietyNumber"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SocietyName" type="EmphasisBasicStructure"/>
		<xsd:element name="SocietyNumber">
		<xsd:annotation>
			<xsd:documentation>A society number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
	<!-- ========== Administration related content ========= -->
	<xsd:element name="Administration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="Appointer"/>
					<xsd:choice>
						<xsd:element ref="AdministrationOrderMade"/>
						<xsd:element ref="DateOfAppointment"/>
					</xsd:choice>
					<xsd:element ref="Administrator"/>
					<xsd:element ref="AdditionalContact"/> <!-- 2010-07-20 CRJC: 'AdditionalContact' moved to be a child of 'Administration', rather than a sibling -->
					<xsd:element ref="OfficeHolderNumbers"/>
					<xsd:element ref="OfficeHolderCapacity"/> <!-- 2010-07-23 CRJC: 'OHC' added here for Para style capacities !!! seems the best way of handling them, but may be wrong-->
					<!-- Don't like Note here but legacy seems to dictate that it is allowed. Can we remove so Note goes before Administration? -->
					<xsd:element ref="Note"/>
					<xsd:element ref="DateSigned" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Administrator">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="InlineFull"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attribute name="Class">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Practitioner"/>
								<xsd:enumeration value="Service"/>
								<xsd:enumeration value="Company"/>
								<xsd:enumeration value="Receiver"/>
								<xsd:enumeration value="Administrator"/>
								<xsd:enumeration value="Solicitor"/>
								<xsd:enumeration value="Member"/>
								<xsd:enumeration value="Liquidator"/>
								<xsd:enumeration value="Petitioner"/>
								<xsd:enumeration value="Director"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Appointer">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="InlineFull"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>

  <xsd:element name="Occasion">
    <xsd:complexType mixed="true">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:group ref="InlineFull"/>
      </xsd:choice>
      <xsd:attributeGroup ref="Type"/>
      <xsd:attributeGroup ref="CommonAttributes"/>
    </xsd:complexType>
  </xsd:element>
  
	<xsd:element name="AdditionalContact">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="InlineFull"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:attributeGroup name="Type">
		<xsd:attribute name="Type" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Allows any autogenerated text to be overriden with the value in this attribute</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:element name="OfficeHolderNumbers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="OfficeHolderNumber" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OfficeHolderNumber" type="EmphasisBasicStructure"/>
	<xsd:element name="OfficeHolderCapacity" type="EmphasisBasicStructure"/>
	<xsd:element name="DateOfDischarge" type="DateContentStructure"/> <!-- 2011-01-11 CRJC: changed @type from 'EmphasisBasicStructure', as only difference is @Date, which IS are now providing, so seems churlish to reject.-->
	<xsd:element name="GroundsOfAnnulment">
		<xsd:complexType mixed="true">
			<xsd:complexContent mixed="true">
				<xsd:extension base="InlineFullStructure">
					<xsd:attributeGroup ref="Type"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdministrationOrderMade" type="DateContentStructure"/>
	<xsd:element name="DateOfAnnulment" type="DateContentStructure"/>
	<xsd:element name="DateOfAppointment">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attributeGroup ref="Date"/>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DateSigned" type="DateContentStructure"/>
	<xsd:element name="BankruptcyOrderDate" type="DateContentStructure"/>
	<xsd:element name="BankruptcyOrderTime"> <!-- 2010-07-23 CRJC: element created -->
		<xsd:annotation>
			<xsd:documentation>A block time element but with pretty much the structure of the inline equivalent</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Time"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IVAdate" type="DateContentStructure"/>
	<xsd:element name="BankruptcyRestrictions">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attribute name="StartDate" type="xsd:date"/>
			<xsd:attribute name="EndDate" type="xsd:date"/>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WindingUpOrderDate" type="DateContentStructure"/>
	<xsd:element name="VolWindingUpResolutionDate" type="DateContentStructure"/> <!-- 2010-10-19 CRJC: element created for use in 2452-->
	<xsd:element name="PetitionFilingDate" type="DateContentStructure"/>
	<xsd:element name="DateOfCertificateOfDischarge" type="DateContentStructure"/> <!-- 2010-12-17 CRJC: element created for use in 2515 -->
	<xsd:element name="Date">
		<xsd:annotation>
			<xsd:documentation>An inline date element - with meaning control by the Class attribute</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Date"/>
			<xsd:attributeGroup ref="DateTimeClass"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Day">
		<xsd:annotation>
			<xsd:documentation>An inline day element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Day"/>
			<xsd:attributeGroup ref="TimeClass"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Time">
		<xsd:annotation>
			<xsd:documentation>An inline time element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Time"/>
			<xsd:attributeGroup ref="TimeClass"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Duration">
		<xsd:annotation>
			<xsd:documentation>An inline duration element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Duration"/>
			<xsd:attributeGroup ref="DurationClass"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:attributeGroup name="Duration">
		<xsd:attribute name="Duration" type="xsd:duration" use="optional"/>
	</xsd:attributeGroup>

	
	<xsd:attributeGroup name="Date">
		<xsd:attribute name="Date" type="xsd:date" use="optional"/>
	</xsd:attributeGroup>
	
	<xsd:attributeGroup name="Time">
		<xsd:attribute name="Time" type="xsd:time" use="optional"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="Day">
		<xsd:attribute name="Day" use="required">
	      <xsd:annotation>
	         <xsd:documentation>The day of the week</xsd:documentation>
	      </xsd:annotation>
	      <xsd:simpleType>
	         <xsd:restriction base="xsd:string">
				  <xsd:enumeration value="Monday"/>
				  <xsd:enumeration value="Tuesday"/>
				  <xsd:enumeration value="Wednesday"/>
				  <xsd:enumeration value="Thursday"/>
				  <xsd:enumeration value="Friday"/>
				  <xsd:enumeration value="Saturday"/>
				  <xsd:enumeration value="Sunday"/>
			   </xsd:restriction>
	      </xsd:simpleType>
	   </xsd:attribute>
	</xsd:attributeGroup>
	
	<xsd:element name="Telephone">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attribute name="Class" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Administrator"/>
						<xsd:enumeration value="Company"/>
						<xsd:enumeration value="Partnership"/>
						<xsd:enumeration value="Petitioner"/>
						<xsd:enumeration value="Mobile"/>
						<xsd:enumeration value="Fax"/>
						<xsd:enumeration value="Home"/>
						<xsd:enumeration value="Work"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Value" type="xsd:anyURI"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Email">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attribute name="Class" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Administrator"/>
						<xsd:enumeration value="Company"/>
						<xsd:enumeration value="Partnership"/>
						<xsd:enumeration value="Petitioner"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========== Corporate Body information ========== -->
	<!-- ========== Added for CLS release ========== -->
	
	<xsd:element name="CorporateBody">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentType" type="xsd:string"/>
				<xsd:element ref="Company"/>
				<xsd:element ref="Date"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========== Things and values content extracted from gazette ontology ========= -->	
	
	<xsd:element name="Thing">
		<xsd:annotation>
			<xsd:documentation>An inline element for capturing basic string related data values</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="ThingClass"/>
		</xsd:complexType>
	</xsd:element>	

	<xsd:element name="Value">
		<xsd:annotation>
			<xsd:documentation>An inline element for capturing values</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="Value"/>
			<xsd:attributeGroup ref="ValueClass"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:attributeGroup name="Value">
		<xsd:attribute name="Value" type="xsd:date" use="optional"/>
	</xsd:attributeGroup>
	
	<!-- ========== Person related content ========= -->
	<xsd:element name="Person">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="PersonName" minOccurs="0"/>
				<xsd:element ref="AlsoKnownAs" minOccurs="0"/>
				<xsd:element ref="PersonStatus" minOccurs="0"/>
				<xsd:element ref="PersonDetails" minOccurs="0"/>
				<xsd:element ref="Occupation" minOccurs="0"/>
        <xsd:element ref="Workplace" minOccurs="0"/>
        <xsd:element ref="AddressLineGroup" minOccurs="0"/>
				<xsd:element ref="PersonAddress" minOccurs="0"/>
				<xsd:element ref="BirthDetails" minOccurs="0"/>
				<xsd:element ref="DeathDetails" minOccurs="0"/>
        <xsd:element ref="CrownDependency" minOccurs="0"/>
        <xsd:element ref="MilitaryServiceNumber" minOccurs="0"/>
        <xsd:element ref="Department" minOccurs="0"/>
        <xsd:element ref="OccupationPosition" minOccurs="0"/>
        <xsd:element ref="Regiment" minOccurs="0"/>
      </xsd:all>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>

  <xsd:element name="Citation" type="InlineFullStructure"/>
  <xsd:element name="AwardDivision" type="InlineFullStructure"/>
  <xsd:element name="AwardSubdivision" type="InlineFullStructure"/>
  <xsd:element name="AwardSubCategory" type="InlineFullStructure"/>
  <xsd:element name="AwardType" type="InlineFullStructure"/>
  <xsd:element name="AwardName" type="InlineFullStructure"/>
  <xsd:element name="ServiceBranch" type="InlineFullStructure"/>
  <xsd:element name="Honour" type="InlineFullStructure"/>
  

  <xsd:element name="AlsoKnownAs" type="InlineFullStructure"/>
	<xsd:element name="PersonDetails" type="InlineFullStructure"/>
	<xsd:element name="PersonAddress">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
				<xsd:element ref="AddressLineGroup"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
  
	<xsd:element name="PersonStatus" type="InlineFullStructure"/>
	<xsd:element name="Occupation" type="InlineFullStructure"/>
  <xsd:element name="Workplace" type="InlineFullStructure"/>
  <xsd:element name="CrownDependency" type="InlineFullStructure"/>
  <xsd:element name="MilitaryServiceNumber" type="InlineFullStructure"/>
  <xsd:element name="Department" type="InlineFullStructure"/>
  <xsd:element name="OccupationPosition" type="InlineFullStructure"/>
  <xsd:element name="Regiment" type="InlineFullStructure"/>
  
  <xsd:element name="BirthDetails">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Date" minOccurs="0"/>
			</xsd:all>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeathDetails">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Date" minOccurs="0"/>
				<xsd:element ref="NoticeOfClaims"/>
				<xsd:element ref="NoticeOfClaimsDate"/>
			</xsd:all>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NoticeOfClaims" type="InlineFullStructure"/>
	<xsd:element name="NoticeOfClaimsDate" type="DateContentStructure"/>
	<!-- ========== Legislation related content ========= -->
	<xsd:element name="Legislation">
		<xsd:complexType>
			<xsd:complexContent mixed="true">
				<xsd:extension base="EmphasisBasicStructure">
					<xsd:attributeGroup ref="LegislationGroup"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="LegislationSection">
		<xsd:complexType>
			<xsd:complexContent mixed="true">
				<xsd:extension base="EmphasisBasicStructure">
					<xsd:attributeGroup ref="LegislationGroup"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:attributeGroup name="LegislationGroup">
      <xsd:attribute name="Year" type="xsd:gYear"/>
	  <xsd:attribute name="Chapter" type="xsd:string"/> 
	</xsd:attributeGroup>  
	<!-- ========== Address related content ========= -->
	<xsd:element name="AddressLineGroup">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
				<xsd:element ref="AddressLine"/>
				<xsd:element ref="Postcode"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attribute name="Name" type="xsd:string"/>
			<xsd:attribute name="Class" use="required">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Administrator"/>
								<xsd:enumeration value="Company"/>
								<xsd:enumeration value="Court"/>
								<xsd:enumeration value="Partnership"/>
								<xsd:enumeration value="Petitioner"/>
								<xsd:enumeration value="Meeting"/>
								<xsd:enumeration value="Person"/>
								<xsd:enumeration value="Trading"/>
                				<xsd:enumeration value="Awardee"/>
								<xsd:enumeration value="Registrar"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartnershipAddress">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
				<xsd:element ref="AddressLineGroup"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AddressLine">
		<xsd:complexType>
			<xsd:complexContent mixed="true">
				<xsd:extension base="InlineStructure">
					<xsd:attribute name="Class" use="optional">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="street-address"/>
								<xsd:enumeration value="extended-address"/>
								<xsd:enumeration value="locality"/>
								<xsd:enumeration value="region"/>
								<xsd:enumeration value="post-office-box"/>
								<xsd:enumeration value="country-name"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Postcode" type="xsd:string"/>
	<xsd:element name="FirmName">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attribute name="Class" use="required">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Administrator"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrganisationName">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="EmphasisBasic"/>
				<xsd:element ref="Span"/>
				<xsd:element ref="Character"/>
			</xsd:choice>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="Type"/>
			<xsd:attribute name="Role" use="required">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Receiver"/>
								<xsd:enumeration value="Administrator"/>
								<xsd:enumeration value="Solicitor"/>
								<xsd:enumeration value="Member"/>
								<xsd:enumeration value="Liquidator"/>
								<xsd:enumeration value="Petitioner"/>
								<xsd:enumeration value="Director"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Class" use="required">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ForProfitOrganisation"/>
								<xsd:enumeration value="SoleTrader"/>
								<xsd:enumeration value="LimitedCompany"/>
								<xsd:enumeration value="PublicLimitedCompany"/>
								<xsd:enumeration value="PrivateCompanyLimitedByShares"/>
								<xsd:enumeration value="Partnership"/>
								<xsd:enumeration value="LimitedPartnership"/>
								<xsd:enumeration value="LimitedLiabilityPartnership"/>
								<xsd:enumeration value="GeneralPartnership"/>
								<xsd:enumeration value="PublicInstitution"/>
								<xsd:enumeration value="PublicCorporation"/>
								<xsd:enumeration value="RegionalAdministration"/>
								<xsd:enumeration value="Council"/>
								<xsd:enumeration value="LondonBoroughCouncil"/>
								<xsd:enumeration value="UnitaryAuthorityCouncil"/>
								<xsd:enumeration value="MetropolitanDistrictCouncil"/>
								<xsd:enumeration value="QuasiUnitaryAuthorityCouncil"/>
								<xsd:enumeration value="CountyCouncil"/>
								<xsd:enumeration value="DistrictCouncil"/>
								<xsd:enumeration value="GovernmentOfficeRegionCouncil"/>
								<xsd:enumeration value="ExecutiveAgency"/>
								<xsd:enumeration value="GovernmentDepartment"/>
								<xsd:enumeration value="InternalDrainageBoard"/>
								<xsd:enumeration value="Department"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- ========== Other stuff ========== -->
	<xsd:complexType name="DateContentStructure" mixed="true">
		<xsd:annotation>
			<xsd:documentation>A type that defines a standard date entry element</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="EmphasisBasic"/>
			<xsd:element ref="Span"/>
			<xsd:element ref="Character"/>
		</xsd:choice>
		<xsd:attributeGroup ref="Date"/>
		<xsd:attributeGroup ref="Type"/>
		<xsd:attributeGroup ref="CommonAttributes"/>
	</xsd:complexType>
	<xsd:element name="DefinedAs" type="EmphasisBasicStructure"/>
	<xsd:element name="Note">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="P" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="Type"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
